/*Скидання стилів*/
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

.header {
  border-bottom: 1px solid #E7E9FC;
}

:root {
  --accent: #e7e9fc;
  --box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
  --dark: #2e2f42;
  --fill: #8E8F99; 
  --gradient-bg: linear-gradient(rgba(46, 47, 66, 0.1), rgba(46, 47, 66, 0.5));
  --light: #f4f4fd;
  --modal: rgba(46, 47, 66, 0.4);
  --pressed-state: #404bbf;
  --second-primary: rgb(5 193 247);
  --primary: #f2f540;
  --socicon-footer: rgba(255, 255, 255, 0.1);
  /* --success: #31D0AA; */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --text: #434455;
  --white: #ffffff;  
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--dark);
  padding: 24px 0
}

/*--------Стилі для index.html--------*/
body {
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Header*/
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
} 
.container-mob-menu {
  min-width: 290px;
  height: 100%;
  position: relative;
}

.backdrop-mobile {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}
.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 14px 0;
  fill: var(--dark);
}

.icon-menu-btn {
  stroke: var(--first-text-color);
}
.menu-close-btn {
  display: block;
  width: 24px;
  height: 24px;

  margin-left: auto;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 16px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--transition);
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--primary);
  fill: var(--light);
}

.mob-menu > .container-mob-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  overflow-y: auto;
}
.mob-menu {
  position: fixed;
  top: 0;
  
  width: 100%;
  height: 100%;
  
  background-color: #fff;
  z-index: 1;
  
  padding: 20px;

  transition: opacity var(--transition), visibility var(--transition);
}
.mob-menu-list {
  margin-bottom: 24px;
  padding-top: 70px;
  ;
}
.mob-menu-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color var(--transition);
}
.mob-menu-link:is(:hover, :focus) {
  color: var(--pressed-state);
}
.mob-menu-item:not(:last-child) { 
  margin-bottom: 40px;
}

.mob-soc-list {
  display: flex;
  margin: 40px 0 0;
}
.mob-soc-items {
  flex-basis: calc((100% - 56px) / 3);
}
.mob-soc-link {
  background-color: var(--pressed-state);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: var(--light);
    transition: background-color var(--transition);
}
.soc-link:is(:hover, :focus) {
  background-color: var(--primary);
}
.soc-icons {
  fill: currentColor;
  transition: color var(--transition);
}

.top-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.34;
  }
  .top-logo > .link {
    padding-top: 24px;
  }
  .logo-ua {
    color: var(--primary);
    line-height: 1.34;
  }

.top-menu {
  display: none;
}

.wrap-mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.top-titel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(20 / 24);
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--primary);
  transition: color var(--transition);
}

/*Phonetic*/
.section {
  padding: 96px 0;
}
.phonetic-img  {
  position: relative;
  max-width: 1440px;

  background-color: var(--dark);
  background: var(--gradient-bg), url(./images/fonetika_.png) no-repeat;
  background-size: contain;
  background-position: center;

  text-align: center;

  padding: 90px 0px;
  margin: auto;
}

.paragraph-heading {
  text-align: center;
  padding-bottom: 50px;
}

.phonetic {
  padding-top: 50px;
}
.text-description {
  text-align: left;
  padding: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
}

.speech-app {
  background-color: #dbdeff;
}
.speech-app > h2, .titel-top {
  padding-top: 50px;
  padding-bottom: 20px;
}
.speech {
  padding-left: 15%;
  padding-right: 15%;
}
.gallery-image-speech {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-speech {
  text-align: center;
}
.speech-btn {
  padding-top: 10px;
  padding-bottom: 50px;
}

.soclist {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 8px;
}
.soclist-item {
  width: 40px;
  height: 40px;
}
.soclink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--second-primary);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
  transition: background-color var(--transition);                                                     
}
.soclink:is(:hover, :focus) {
  background-color: var(--primary); 
}
.soclink-icon {
  fill: var(--dark);
}

/*Footer*/
.footer {
  background-color: var(--second-primary); 
  padding-top: 100px;
  padding-bottom: 100px; 
}
.footer-container {
  text-align: center;
}
.footer-logo {
  color: var(--light);
}
.footer-link {
  padding: 16px 0px;
}
.footer-text {
  line-height: 1.5;
  max-width: 264px;
  color: var(--accent);
  margin-top: 8px;
  text-align: left;
}

.socmedia-text {
  color: var(--white);
  margin-bottom: 16px;
  margin-top: 72px;
}
.socmedia .soclink {
  width: 100%;
  height: 100%;
  padding: 8px;
  align-items: center; 

  background-color: var(--white);

  transition: background-color var(--transition);
}
.socmedia .soclink:is(:hover, :focus) {
  background-color: var(--primary);
}

.footer-btn:is(:hover, :focus) {
  background-color: var(--pressed-state);
}


/*--------Стилі для phonetic.html--------*/
.phonetic-secion {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters-list {
  display: flex; 
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.filters-btn {
  background-color: var(--primary);
  border: 1px solid var(--dark);
  border-radius: 4px;

  font-weight: 500;
  color: var(--dark);
  letter-spacing: 0.04em;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;

  padding: 12px 24px;
  margin-top: 50px;

  transition: 
    color var(--transition), 
    background-color var(--transition), 
    border-color var(--transition),
    box-shadow var(--transition);
}
.filters-btn:hover {
  color: var(--white);
  
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  
  cursor: pointer;
}

.gallery-items {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.gallery-top-wrapp {
  position: relative;

  overflow: hidden;
}
.text-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  font-size: 22px;

  color: var(--light);
  line-height: 1.5;
  overflow: auto;

  background-color: var(--pressed-state);

  transform: translateY(100%);
  transition: transform var(--transition);
}
.gallery-link:is(:hover, :focus) .text-animation {
  transform: translateY(0%);
}
.gallery-footer {
  padding: 32px 16px;

  border: 1px solid var(--accent);
  border-top: none;
}
.gallery-footer > p {
  margin-top: 8px;;
}
.gallery-link {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: block;
  padding: 0;

  transition: box-shadow var(--transition);
}
.gallery-link:is(:hover, :focus) {
  box-shadow: var(--box-shadow)
}
.gallery-text {
  color: var(--text);
  line-height: 1.5;
  font-size: 24px;
}

/*------- Modal window -------*/
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal);

  transition: opacity var(--transition), visibility var(--transition);  
}
.modal{
  position: absolute;
  left: 50%;
  top: 42%;

  padding: 24px 16px;
  margin-top: 65px;

  min-width: 290px;
  /* min-height: 100vh; */

  background: #FCFCFC;
  box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--transition);
}
.backdrop.is-hidden .modal,
.mob-menu.is-hidden {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 24px;
  height: 24px;
  cursor: pointer;

  /* transition:  
    background-color var(--transition), 
    border-color var(--transition); */
}
.modal-titel {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dark);
  text-align: center;
  font-size: 12px;

  /* margin-bottom: 14px; */
  padding-top: 50px;
}
/* .modal-form {
  display: flex; 
  flex-direction: column;
}*/
/*.form-items-wraper:nth-child(-n + 3) {
   margin-bottom: 26px; 
}*/
.label-text {
  font-size: 10px;
  line-height: 1.34;
  letter-spacing: 0.04em;
  color: var(--fill);
}
.input-wrap {
  position: relative;
  margin-top: 4px;
}
.form-item {
  width: 100%;
  height: 30px;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;
  transition: border-color var(--transition);
}
.form-item:focus {
  border-color: var(--primary);
}
.form-item:focus + .form-icons {
  fill: var(--primary);
}
.textarea {
  padding: 8px 16px;
  min-height: 120px;
  width: 100%;
  resize: none;
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.form-icons {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--pressed-state);
}
.privacy-policy {
  position: relative;
}
.checkbox-input:checked + .text-privacy-policy::before {
  background-color: var(--pressed-state);
  background-image: url(../images/icon-click.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1.25px solid var(--pressed-state);
  border-radius: 2px;
}
.text-privacy-policy {
  font-size: 9px;
  line-height: 1.34;
  letter-spacing: 0.02em;
  color: #757575;

  margin-top: 12px;
  display: flex;
  align-items: center;
}
.text-privacy-policy::before {
  content: '';
  width: 12px;
  height: 12px;

  margin-right: 5px;

  border: 1.25px solid var(--dark);
  border-radius: 2px;
  transition: background-color var(--transition), border-radius var(--transition);
}
.link-privacy-policy {
  text-transform: capitalize;
  padding-left: 0.2em;
  font-size: 9px;
}
.btn-form-send {
  margin-top: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transition), box-shadow var(--transition);
}
.btn-form-send > span {
  padding: 0 32px;
}


/* ------------------- @madia rules -------------------- */

/* ============ @MEDIA  480px ============ */

@media screen and (min-width: 480px) {
  .container {
    width: 396px;
  }

  .phonetic-img {
    background: var(--gradient-bg),
    url(./images/fonetika_.png) no-repeat;
    background-size: contain;
    background-position: center;
    padding: 100px 0px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .phonetic-img {
      background: var(--gradient-bg),
      url(./images/fonetika_.png) no-repeat;
      background-size: contain;
      background-position: center;
      padding: 100px 0px;
    }
  }
  .phonetic-titel {
    position: absolute;
    top: 72%;
    right: 16%;
    font-size: 36px;
    line-height: 1.11;
    min-width: 320px;
  }

  .features-titel, .custom-titel
  .cards > h3,
  .gallery-list h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.11;
  } 
  .soclist {
    gap: 24px;
  }
  .modal {
    min-width: 392px;
  }

  .modal-close {
  right: 24px;
  }
  .modal-titel {
    font-size: 16px;
    line-height: 1.11;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .label-text {
    font-size: 12px;
    line-height: 0.75;
  }

  .form-items-wraper:nth-child(-n + 3) {
    margin-bottom: 26px;
  }
  .form-item {
    height: 40px;
  }
  .form-icons {
      width: 24px;
      height: 24px;
  }
  .text-privacy-policy {
    font-size: 12px;
    line-height: 0.75;
    margin-top: 16px;
  }
  .text-privacy-policy::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  .link-privacy-policy {
    padding-left: 0.2em;
    font-size: 12px;
  }
  .btn-form-send {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-menu-link {
    font-size: 36px;
    line-height: 0.9;
  }
  .mob-tel {
    font-size: 36px;
    line-height: calc(36 / 40);
  }
  .soc

  .footer-container {
    padding: 0 80px;
  }
}

/* ============ @MEDIA  768px ============ */

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
  .container-tablet {
    min-width: 496px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-container {
    min-width: 582px;
  }

  .menu-open-btn, 
  .mob-menu {
    display: none;
  }

  .header-container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
  }
  .nav-container {
    display: flex; 
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .top-logo,
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.5;
    padding-right: 50px;
  }
  .top-logo > .link {
    padding-top: 24px;
  }
  .logo-web {
    color: var(--primary);
  }
  .top-menu {
    display: flex;
    margin-left: 76px;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;

  }
  .top-menu .link {
    padding-top: 24px;
    padding-bottom: 28px;
  
    transition: color var(--transition);
  }
  .top-menu .link:hover,
  .mail:hover, .tel:hover {
    color: var(--pressed-state);
  }
  .top-menu .link:focus,
  .mail:focus, tel:focus {
    color: var(--text);
  }
  .current {
    color: var(--primary);
    position: relative;
  }
  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: var( --primary);
  }
  .mail, .tel {
    letter-spacing: 0.02em;
    color: var(--text);
    font-style: normal;
    line-height: 1.5;
  
    transition: color var(--transition);
  }

  .phonetic-img {
    background: var(--gradient-bg),
    url(./images/fonetika_.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 0px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .phonetic-img {
        background: var(--gradient-bg),
        url(./images/fonetika_.png) no-repeat;
        background-size: cover;
        background-position: center;
        padding: 250px 0px;
      }
    }

  .modal{
    width: 408px;
    min-height: 586px;
    padding: 24px;
    
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .features-item {
    width: calc((100% - 20px) / 3);
  }

  .ourteam-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
  }
  .cards {
    margin: 0 0 72px 0;
  }

  .soclist {
    padding-top: 16px;
    gap: 16px;
  }
  .socmedia-text {
    margin-top: 0;
    text-align: left;
  }

  .footer-tablet {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 0;
  }
  .footer-form {
    display: flex;
  }
  .footer-subscribe {
    text-align: left;
    margin-left: 0;
  }
  .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
  }
  .footer-input {
    width: 264px;
  }
}

/* ============ @MEDIA  1200px ============ */

@media screen and (min-width: 1200px) {
  .container, 
  .footer-container,
  .container-tablet,
  .container-features {
    width: 1158px;
    max-width: 1440px;;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }

  .phonetic-img {
      background: var(--gradient-bg),
      url(./images/fonetika_.png) no-repeat;
      background-size: cover;
      background-position: left;
      padding: 250px 0px;
    } 
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .phonetic-img {
          background: var(--gradient-bg),
          url(./images/fonetika_.png) no-repeat;
          background-size: cover;
          background-position: left;
          padding: 250px 0px;
        }
    }

  .features-titel {
    font-size: 20px;
    text-align: left;
    line-height: 1.3;
  }
  .icons-features {
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 24px 102px;
    min-width: 264px;
  }
  .features-icon {
    display: block;
  }
  .features-item:not(:last-child) {
    padding-bottom: 0; 
  }
  .features-list {
    flex-wrap: nowrap;
  }
  /* .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    } */

  .offer {
    display: block;
    padding-bottom: 120px;
  }
  .offer-list {
    display: flex;
    gap: 24px;
  }
  .offer-list img {
    border: 1px solid #e7e9fc;
  } 

  .custome-list {
    flex-wrap: nowrap
  }

  

  .footer-btn {
    display: inline-flex;
    align-items: center;
  }

  .footer-subscribe {
    margin-left: auto;
  }

  .footer-container {
    text-align: left;
    display: flex; 
    justify-content: space-between;
}
    /* align-items: baseline; */
  }
  
  /* .text-footer {
    margin-right: auto;
  } */
  .socmedia-text, .subscribe-text {
    margin-top: 0;
  }
  .soclist {
    padding-top: 0;
 }

 .buttons-list{
  min-width: 586px;
  display: flex;
 }

 .gallery-list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

